
<footer class="blue page-footer">
<div class="container">
	<div class="row">

		<div class="col l6 s12">
			<h5 class="white-text">About</h5>
			<p class="flow-text grey-text text-lighten-4">
				<b>Key.Switch.Ignition</b> (<b>keyswig</b>) is a project 
				by Kenneth Lin aiming to bring local auto communities 
				closer together.</p>
			<p class="flow-text grey-text text-lighten-4">Meet friends, switch keys, and drive.</p>
			<p class="flow-text grey-text text-lighten-4">Check it out on <a class="orange-text" href="https://github.com/Kenworthe/keyswig-Key-Switch-Ignition">GitHub</a>!</p>
		</div>

		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">About</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="footer-copyright">
	<div class="container">
		© 2016 Kenworthe, All rights reserved.
	</div>
</div>
</footer>

<!--Scripts go below this line-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>-->
<script src="/scripts/client.js"></script>
<!--Below this line is closing body tag-->