
<footer class="blue page-footer">
<div class="container">
	<div class="row">

		<div class="col l6 s12">
			<h5 class="white-text">About</h5>
			<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			<p class="grey-text text-lighten-4">Check it out on <a href="https://github.com/Kenworthe/car-swap">GitHub</a>!</p>
		</div>

		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">About</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="footer-copyright">
	<div class="container">
		© 2016 Kenworthe, All rights reserved.
	</div>
</div>
</footer>

<!--Scripts go below this line-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<!--Below this line is closing body tag-->