<nav class="navbar">
	<div class="nav-wrapper blue-grey darken-3">
		<a class="left brand-logo" href="/">Home</a>
		<ul class="right hide-on-small-and-down">
			<% if (currentUser) { %>
				<li><a href="/my-garage">My Garage</a></li>
				<li><a href="#" class="dropdown-button" data-activates="dropdown1" data-beloworigin="true" data-hover="true"><%= currentUser.displayname %></a></li>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="/account" class="blue-grey darken-2 white-text">Account</a></li>
						<li><a href="/logout" class="blue-grey darken-2 white-text">Logout</a></li>
					</ul>

			<% } else { %>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Login</a></li>
			<% } %>
		</ul>
	</div>
</nav>

<div class="flash">
	<% if (typeof message !== 'undefined') { %>
		<% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
		<div class="card-panel red"><%= message.error %></div>
		<% } %>
    <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
    	<div class="card-panel yellow"><%= message.info %></div>
		<% } %>
    <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
		<div class="card-panel green"><%= message.success %></div>
    	<% } %>
	<% } %>
</div>