<h1>Car details page</h1>

<div>
	<p><%= car %></p>
</div>

<form action="/my-garage/<%= car._id %>/edit">
	<button type="submit" class="">Edit</button>
</form>

<form method="POST" action="/my-garage/<%= car._id %>?_method=DELETE">
	<button type="submit" class="">Delete</button>
</form>