<h1> My Garage index page. </h1>
<p> this will contain the garage of cars. </p>
<p><a href="/my-garage/add">Add</a></p>

<p><a href="/my-garage/:id/edit">Edit</a></p>
<p><a href="/my-garage/:id/delete">Remove</a></p>