<% if (currentUser) { %>

<div>
	<h1>Welcome, <%= currentUser.displayname %>!</h1>
	<p>Browse for cars: </p>
	<p>insert list of cars here.</p>
</div>

<% } else { %>

<div>
	<h1>Welcome to Cars App!</h1>
	<p>You are viewing the homepage content.</p>
	<p>Please log in or sign up to browse for cars!</p>
</div>

<% } %>