<div class="landing-page-bg">
	<img src="/images/cars-wallpaper-4.jpg" class="landing-page-bg responsive-img" draggable="false">
		<h2>Together is better.</h2>
		<p><b>Key.Switch.Ignition</b>, or <b>keyswig</b> as we call it, is the ultimate ride-swap app. Keyswig provides drivers with a social platform to share their driving experience with others.</p>
		<p>Using Keyswig is easy -
			1. add your car
			2. then browse for
			3. meet up, swap keys, and drive!</p>
		<p>Sign up today to drive together.</p>
</div>