<div id="landing-bg-1">
</div>

<div class="landing-text center-align">
		<h2>key.switch.ignition</h2>
		<h4>Share your ride.</h4>
			<br>
		<p class="flow-text white-text">
			<b>keyswig</b> provides drivers with 
			a social platform to share their 
			driving experience with others.</p>
</div>

<div id="landing-bg-2" class="center-align">
	<h3>Using <b>keyswig</b> is easy.</h3>
	<p class="flow-text">
		1. Add your car(s).
		<br>
		2. Browse for other cars.
		<br>
		3. Reach out to Switch!
	</p>
</div>

<div class="container center-align">
	<form method="get" action="/signup"> 
		<div class="input-field col m8 s12 offset-m2">
		<label for="email">Enter your email to get started!</label>
		<input class="validate" type="text" name="email" id="email">
		</div>

		<input class="col m6 s4 offset-s4 waves-effect waves-light btn green hoverable" type="submit" value="Sign Up">
	</form>
</div>