<div class="container row">
	<form class="col s12" method="post" action="/signup">
		
		<div class="input-field col m8 s12 offset-m2">
    		<input class="validate" type="text" name="email" id="email">
    		<label for="email">Email</label>
  		</div>

		<div class="input-field col m8 s12 offset-m2">
			<input class="validate" type="text" name="displayname" id="displayname">
			<label for="displayname">Display Name</label>
		</div>

		<div class="input-field col m8 s12 offset-m2">
			<input class="validate" type="text" name="location" id="location">
			<label for="location">Location (City, State)</label>
		</div>

		<div class="input-field col m8 s12 offset-m2">
			<input class="validate" type="password" name="password" id="password">
			<label for="password">Password</label>
		</div>

		<div class="input-field col m8 s12 offset-m2">
			<input class="validate" type="password" name="password-confirm" id="password-confirm">
			<label for="password-confirm">Confirm Password</label>
		</div>

		<input class="col s4 offset-s4 waves-effect waves-light btn green" type="submit" value="Create Account">
	</form>
</div>
