html, body {
	margin: 0;
	height: 100%;
}

/*.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(0,0,0,);
	color: red;
}*/
/*ul.navbar:hover, li.navbar:hover {
	background: white;
}*/