html, body {
	margin: 0;
	height: 100%;
	width: auto;
	color: #333333;
}
.brand-logo {
	margin-left: 10px;
}
#landing-bg-1 {
	z-index: -1;
	height: 100vh;
	position: relative;
	background-image: url('/images/cars-wallpaper-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	top: -64px; 
	filter: brightness(60%);
}
#landing-bg-2 {
	z-index:-1;
	width:100%;
	min-height: 632px;
	position: relative;
	background-image: url('/images/cars-wallpaper-4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
.landing-text {
	position: absolute;
	top: 64px;
	margin: 0 auto;
	max-width: 800px;
	color: #F5F5F5;
}
@media screen and (max-width: 992px) {
	.landing-text h2{
		font-size: 3em;
	}
}

.fa.fa-toggle-on {
	font-size: 2em;
}
.fa.fa-toggle-off {
	font-size: 2em;
}

.car-id {
	word-wrap: break-word;
}
.new-car-btn {
	margin: 20px 0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #FFA000;
	box-shadow: 0 1px 0 0 #FFA000;
}
.delete-form {
	display:inline;
}
.logo-box {
	display: flex;
	flex-direction: column;
}

/*Getting sidenav to not cover navbar*/
#nav{
  z-index: 999;
  position: relative;
} 
#sidenav-overlay {
  z-index: 995;
}