html, body {
	margin: 0;
	height: 100%;
	width: auto;
	color: #333333;
}
img.landing-page-bg {
	z-index: -10;
	position: relative;

	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.fa.fa-toggle-on {
	font-size: 2em;
}
.fa.fa-toggle-off {
	font-size: 2em;
}
.car-id {
	word-wrap: break-word;
}
.new-car-btn {
	margin: 20px 0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #FFA000;
	box-shadow: 0 1px 0 0 #FFA000;
}
.delete-form {
	display:inline;
}

/*.brand-logo:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.brand-logo::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.brand-logo:hover::after {
  opacity: 1;
}*/