<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
	<!--WHY DOESN'T THIS EJS TAG BELOW WORK HALF THE TIME???-->
	<title><%= title %></title>
</head>

<body>
	<header>
		<% include ../partials/navbar.ejs %>
	</header>

	<main>
		<%- body %>
	</main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>