<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
	<!--If you see this error, check server console!!!-->
	<title><%= title %></title>
</head>

<body>
	<!--Header/Navbar partial goes below this line-->
	<% include ../partials/navbar.ejs %>

	<!--Main body ejs files go here-->
	<main>
		<%- body %>
	</main>

	<!--Footer partial goes below this line-->
	<% include ../partials/footer.ejs %>

</body>
</html>